
<mat-card class=" director-detail-card" role="article" [attr.aria-label]="'Director Details: ' + data.director.name">
   <div class="director-detail-content">

      <!-- Image -->
      <img [src]="data.director.imagePath" alt="{{ data.director.name }}" class="director-image">

      <!-- Director Information -->
      <div class="director-details">
         <h1 class="director-title">Director Information</h1>
         <p><strong>Name:</strong> {{ data.director.name }}</p>
         <p><strong>Bio:</strong> {{ data.director.bio }}</p>
         <p><strong>Birth Date:</strong> {{ data.director.birthDate | date }}</p>
         <p *ngIf="data.director.deathDate"><strong>Death Date:</strong> {{ data.director.deathDate | date }}</p>
         <p><strong>Movies:</strong> {{ data.director.movies.join(', ') }}</p>

         <!-- Actions -->
         <div mat-dialog-actions>
            <button mat-raised-button color="primary" mat-dialog-close aria-label="Close dialog">Close</button>
         </div>
      </div>
   </div>
</mat-card>