.genre-detail-card {
   padding: 2rem;
   margin: 2rem;
   border-radius: 10px;
   box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.5); // Add shadow for a clean card look
   background-color: white; // Ensure background color is solid white
   overflow: hidden; // Prevent overflow in case of large text
}

.genre-detail-content {
   padding: 1.5rem; // Internal padding for content spacing
   background-color: white; // Ensure content background is solid
   border-radius: inherit; // Match outer border radius
}

h1.genre-title {
   font-size: 1.5rem;
   font-weight: bold;
   margin-bottom: 1rem;
}

p {
   color: black;
   margin-bottom: 10px;
   font-size: 1rem;
   line-height: 1.5;
}

.mat-dialog-actions {
   display: flex;
   justify-content: flex-end;
   padding-top: 1rem; // Add space above the button
   border-top: 1px solid #e0e0e0; // Optional: Subtle divider between content and actions
}

button {
   margin-right: 10px;
}

@media (max-width: 900px) {
   .genre-detail-card {
      margin: 1rem;
      padding: 1rem;
   }

   .mat-dialog-actions {
      justify-content: center;
   }
}