<mat-card class="search-filter-card">
   <button mat-raised-button color="primary" class="toggle-button" (click)="toggleFilters()">
      Search / Filter
   </button>
   <div class="filter-forms" [ngClass]="{'show': !isScreenSmall || showFilters}">
      <form (ngSubmit)="onSearch()" class="filter-form">
         <mat-form-field class="filter-form-field">
            <mat-label>Search Movies</mat-label>
            <input matInput [(ngModel)]="searchTerm" name="searchTerm" />
         </mat-form-field>
         <button class="filter-form-button" mat-raised-button color="primary" type="submit">Search</button>
      </form>
      <form (ngSubmit)="onSort()" class="filter-form">
         <mat-form-field class="filter-form-field">
            <mat-label>Sort By</mat-label>
            <mat-select [(ngModel)]="sortOrder" name="sortOrder">
               <mat-option value="title-asc">Title Ascending</mat-option>
               <mat-option value="title-desc">Title Descending</mat-option>
               <mat-option value="year-asc">Year Ascending</mat-option>
               <mat-option value="year-desc">Year Descending</mat-option>
            </mat-select>
         </mat-form-field>
         <button class="filter-form-button" mat-raised-button color="primary" type="submit">Sort</button>
      </form>
      <form (ngSubmit)="onLimit()" class="filter-form">
         <mat-form-field class="filter-form-field">
            <mat-label>Number to Display</mat-label>
            <input matInput [(ngModel)]="limit" name="limit" type="number" />
         </mat-form-field>
         <button class="filter-form-button" mat-raised-button color="primary" type="submit">Set Limit</button>
      </form>
   </div>
</mat-card>
