<!-- Render the Search/Filter card just below the navbar -->
<mat-card class="search-filter-card">

   <!-- Toggle button appears for small screen widths to show/hide search/filter functions -->
   <button mat-raised-button color="primary" class="toggle-button" (click)="toggleFilters()"
      [attr.aria-expanded]="showFilters" aria-controls="filter-forms" aria-label="Toggle search and filter options">
      Search / Filter
   </button>

   <!-- Three forms w/in container: Search, Sort, and Limit (Number of Listings) -->
   <div class="filter-forms" [ngClass]="{'show': !isScreenSmall || showFilters}" id="filter-forms">

      <!-- Search -->
      <mat-form-field class="filter-form-field">
         <mat-label id="search-form-label">Search Movies</mat-label>
         <input matInput [(ngModel)]="searchTerm" (ngModelChange)="onSearch()" name="searchTerm" aria-required="true"
            aria-label="Search movies by title" />
      </mat-form-field>

      <!-- Sort -->
      <mat-form-field class="filter-form-field">
         <mat-label id="sort-form-label">Sort By</mat-label>
         <mat-select [(ngModel)]="sortOrder" (ngModelChange)="onSort()" name="sortOrder" aria-required="true"
            aria-label="Sort movies by title or year">
            <mat-option value="title-asc">Title Ascending</mat-option>
            <mat-option value="title-desc">Title Descending</mat-option>
         </mat-select>
      </mat-form-field>

      <!-- Limit -->
      <mat-form-field class="filter-form-field">
         <mat-label id="limit-form-label">Number to Display</mat-label>
         <input matInput [(ngModel)]="limit" (ngModelChange)="onLimit()" name="limit" type="number" aria-required="true"
            aria-label="Set number of movies to display" />
      </mat-form-field>

   </div>
</mat-card>