.movie-list-container {
   display: flex;
   justify-content: center;
   padding: 1rem;
}

.movie-list {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: center;
}

.movie-card {
   width: 200px;
   max-width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.movie-card-header {
   height: 50px; // Adjust the height for the title area
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   font-size: 1rem; // Adjust font size if necessary
}

.movie-card img {
   width: 100%;
   height: 300px; // Ensure all images are the same height
   object-fit: cover;
}

.movie-card-actions {
   height: 50px; // Adjust the height for the action area
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.large-details-button {
   font-size: 1.25rem; // Adjust the font size to make the button text larger
   padding: 12px 24px; // Adjust padding for a larger button
}

@media (max-width: 1200px) {
   .movie-card {
      width: 180px;
   }

   .movie-card img {
      height: 270px;
   }

   .movie-card-header,
   .movie-card-actions {
      height: 45px; // Adjust height for responsiveness
   }
}

@media (max-width: 900px) {
   .movie-card {
      width: 160px;
   }

   .movie-card img {
      height: 240px;
   }

   .movie-card-header,
   .movie-card-actions {
      height: 40px; // Adjust height for responsiveness
   }
}

@media (max-width: 600px) {
   .movie-card {
      width: 140px;
   }

   .movie-card img {
      height: 210px;
   }

   .movie-card-header,
   .movie-card-actions {
      height: 35px; // Adjust height for responsiveness
   }
}

.main-content {
   margin-top: 10rem;
}