.movie-list-container {
   display: flex;
   justify-content: center;
   padding: 1rem;
}

.movie-list {
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
   justify-content: center;
}

.movie-card {
   width: 200px;
   /* Fixed width */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   flex-shrink: 0;
   /* Prevent shrinking */
}

.mat-mdc-card-title {
   font-weight: 500;
   margin: 0;
   text-align: center;
   justify-content: center;
}

.small-font {
   font-size: 0.8rem;
   line-height: 1rem;
   /* Adjust as needed */
}

.medium-font {
   font-size: 1rem;
   line-height: 1.2rem;
   /* Adjust as needed */
}

.large-font {
   font-size: 1.2rem;
   line-height: 1.4rem;
   /* Adjust as needed */
}

.movie-card img {
   height: 300px;
   object-fit: cover;
}

.movie-card-header,
.movie-card-actions {
   height: 60px;
   /* Adjust height for responsiveness */
}

.large-details-button {
   font-size: 1rem;
   /* Make the button text larger */
   padding: 12px 24px;
   /* Adjust padding for a larger button */
}

@media (max-width: 1200px) {
   .movie-card {
      width: 200px;
   }

   .movie-card img {
      height: 270px;
   }

   .movie-card-header,
   .movie-card-actions {
      height: 45px;
      /* Adjust height for responsiveness */
   }
}

@media (max-width: 900px) {
   .movie-card {
      width: 200px;
   }

   .movie-card img {
      height: 240px;
   }

   .movie-card-header,
   .movie-card-actions {
      height: 40px;
      /* Adjust height for responsiveness */
   }
}

@media (max-width: 600px) {
   .movie-card {
      width: 200px;
   }

   .movie-card img {
      height: 210px;
   }

   .movie-card-header,
   .movie-card-actions {
      height: 35px;
      /* Adjust height for responsiveness */
   }
}

@media (max-width: 410px) {
   .movie-card {
      width: 150px;
      /* 25% reduction */
   }

   .movie-card img {
      height: 225px;
      /* 25% reduction */
   }

   .mat-mdc-card-title {
      font-size: 0.75rem;
      /* 25% reduction */
   }

   .movie-card-header,
   .movie-card-actions {
      height: 45px;
      /* 25% reduction */
   }

   .large-details-button {
      font-size: 0.75rem;
      /* 25% reduction */
      padding: 9px 18px;
      /* 25% reduction */
   }

   .small-font {
      font-size: 0.6rem;
      line-height: 0.8rem;
      /* 25% reduction */
   }

   .medium-font {
      font-size: 0.75rem;
      line-height: 0.9rem;
      /* 25% reduction */
   }

   .large-font {
      font-size: 0.6rem;
      line-height: 1.1rem;
      /* 25% reduction */
   }
}

.main-content {
   margin-top: 10rem;
}