.movie-detail-card {
   position: fixed;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 2rem;
   margin: 2rem;
   margin-top: 4rem;
   border-radius: 10px;
   box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.5);
}

.movie-detail-content {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   max-width: 100%;
}

.movie-image {
   flex: 1 1 300px;
   max-width: 300px;
   margin-right: 2rem;
   object-fit: cover;
}

.movie-details {
   flex: 2 1 500px;
   display: flex;
   flex-direction: column;
}

mat-card-title,
mat-card-subtitle,
mat-card-content,
mat-card-actions {
   margin-bottom: 1rem;
}

.movie-details p {
   margin: 0.5rem 0;
}

.movie-details a {
   color: #1976d2;
   text-decoration: underline;
   cursor: pointer;
}

.movie-details a:hover {
   color: #0056b3;
   text-decoration: none;
}

mat-card-actions {
   display: flex;
   justify-content: left;
}

.mat-tooltip {
   background-color: #333;
   color: white;
   font-size: 0.875rem;
   border-radius: 4px;
   padding: 0.5rem;
}

@media (max-width: 900px) {
   .movie-detail-content {
      flex-direction: column;
      align-items: center;
   }

   .movie-image {
      margin-right: 0;
      margin-bottom: 1rem;
   }

   .movie-details {
      align-items: center;
   }

   mat-card-actions {
      justify-content: center;
   }
}