.image-store-container {
   background-color: #ffffff;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 20px;
   margin: 200px auto 20px auto;
   max-width: 800px;
   text-align: center;
   color: #333;

   h2 {
      margin-top: 0;
      color: #333;
   }

   .images-display {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      flex-wrap: wrap;

      .image-section {
         margin: 20px;
         display: flex;
         flex-direction: column;
         align-items: center;

         p,
         h4 {
            margin: 5px 0;
         }
      }

      img {
         max-width: 300px;
         border: 1px solid #ddd;
         padding: 5px;
         border-radius: 4px;
      }

      .image-size {
         font-style: italic;
         color: #555;
         margin-top: 5px;
      }
   }

   .image-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;

      .image-pair {
         display: flex;
         justify-content: center;
         margin-top: 20px;

         .image-section {
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .filename {
               font-weight: bold;
               font-size: 1.2em;
            }

            p,
            h4 {
               margin: 5px 0;
            }
         }

         img {
            max-width: 300px;
            border: 1px solid #ddd;
            padding: 5px;
            border-radius: 4px;
         }

         .image-size {
            font-style: italic;
            color: #555;
            margin-top: 5px;
         }
      }
   }
}