// styles the user registration form
.user-card {
   max-width: 400px;
   margin: 2em auto;
   padding: 1em;
   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
}

mat-card-header {
   text-align: center;  // centers the text in the card header
}

mat-form-field.full-width {
   width: 100%;
   margin-bottom: 1em;
}

// styles the action button
.action-button {
   width: 100%;
   background-color: #3f51b5;
   color: #fff;

   &:hover {              // changes the background color when the button is hovered over
      background-color: #303f9f;
   }
}