<mat-card class="user-card">
   <mat-card-header>
      <mat-card-title>Sign Up!</mat-card-title>
   </mat-card-header>
   <mat-card-content>
      <form #registrationForm="ngForm" aria-labelledby="sign-up-form-title">
         <mat-form-field class="full-width">
            <input matInput [(ngModel)]="userData.username" placeholder="Username" type="text" name="username" required
               minlength="8" aria-required="true" aria-label="Username" />
            <mat-error
               *ngIf="registrationForm.controls['username']?.invalid && registrationForm.controls['username']?.touched">
               Username must be at least 8 characters long
            </mat-error>
         </mat-form-field>
         <mat-form-field class="full-width">
            <input matInput [(ngModel)]="userData.password" type="password" placeholder="Password" name="password"
               required minlength="8" aria-required="true" aria-label="Password" />
            <mat-error
               *ngIf="registrationForm.controls['password']?.invalid && registrationForm.controls['password']?.touched">
               Password must be at least 8 characters long
            </mat-error>
         </mat-form-field>
         <mat-form-field class="full-width">
            <input matInput [(ngModel)]="userData.email" type="email" placeholder="Email" name="email" required email
               aria-required="true" aria-label="Email" />
            <mat-error
               *ngIf="registrationForm.controls['email']?.invalid && registrationForm.controls['email']?.touched">
               Please enter a valid email address
            </mat-error>
         </mat-form-field>
         <mat-form-field class="full-width">
            <input matInput [(ngModel)]="userData.birthday" type="date" placeholder="Birthday" name="birthday" required
               aria-required="true" aria-label="Birthday" />
            <mat-error
               *ngIf="registrationForm.controls['birthday']?.invalid && registrationForm.controls['birthday']?.touched">
               Please enter a valid date
            </mat-error>
         </mat-form-field>
      </form>
   </mat-card-content>
   <mat-card-actions>
      <button mat-raised-button (click)="registerUser()" color="primary" [disabled]="registrationForm.invalid"
         class="action-button" aria-label="Sign Up">
         Sign Up
      </button>
   </mat-card-actions>
</mat-card>