<!-- Render Favorite Movies List -- similar to Movie-Card view -->
<div class="main-content">
   
   <!-- Search and Filter bar -->
   <app-search-filter 
      aria-label="Search and Filter Movies" 
      (search)="onSearch($event)" 
      (sort)="onSort($event)"
      (limitChange)="onLimitChange($event)">
   </app-search-filter>

   <!-- No Favorites Card rendered only if no movies in favorites array within user object -->
   <mat-card *ngIf="filteredMovies.length === 0" class="no-favorites-card" role="alert">
      <mat-card-content>
         No movies in favorites! Click the Red Hearts on Movie Cards to add Favorite movies!
      </mat-card-content>
   </mat-card>

   <!-- Movie List Container, similar to Movie-Card render, but replace "add to fav" with "remove from fav" -->
   <div class="movie-list-container" role="region" aria-label="Movie List">
      <div class="movie-list">

         <!-- Movie Card Container-->
         <mat-card *ngFor="let movie of filteredMovies; let i=index" 
            class="movie-card" 
            tabindex="0" role="article"
            [attr.aria-label]="'Movie Card: ' + movie.Title"
         >
            <!-- Title -->
            <mat-card-header class="movie-card-header">
               <mat-card-title [ngClass]="getFontClass(movie.Title)"> <!-- Adjusts movie title size if long -->
                  {{ movie.Title }}
               </mat-card-title>
            </mat-card-header>

            <!-- Image -->
            <img mat-card-image [src]="movie.ImagePath" alt="{{ movie.Title }} Poster">
            
            <!-- Actions -->
            <mat-card-actions class="movie-card-actions">
               <button mat-icon-button color="primary" matTooltip="Remove From Favorites"
                  (click)="removeFromFavorites(movie)" [attr.aria-label]="'Remove ' + movie.Title + ' from Favorites'">
                  <mat-icon>remove</mat-icon>
               </button>
               <button mat-raised-button color="primary" class="large-details-button" (click)="viewDetails(movie.Title)"
                  [attr.aria-label]="'View details of ' + movie.Title">
                  Details
               </button>
            </mat-card-actions>

         </mat-card>
      </div>
   </div>
</div>